@import url("../assets/fonts/Articulat/Articulat.css");

body {
  background-color: #241b2f;
  margin: 0;
  font-family: "Articulat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: white;
}

#content {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
}

select {
  font-family: "Articulat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 800;
  width: 10rem;
  height: 2.5rem;
  background-color: #262335;
  border-radius: 8px;
  border: 0;
  color: white;
  padding: 12px 16px;
  appearance: none;
  position: relative;
}

.select-container {
  margin-bottom: 12px;
  position: relative;
  max-width: fit-content;
}

.select-container:after {
  content: "";
  position: absolute;
  background-image: url("../assets/images/chevron-down.svg");
  filter: invert();
  background-repeat: no-repeat;
  background-position: center center;
  bottom: 8px;
  right: 16px;
  width: 24px;
  height: 24px;
  pointer-events: none;
}

footer {
  text-align: center;
  padding: 24px 48px;
  background-color: #262335;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 48px;
  margin-right: 48px;
  border-radius: 8px;
  font-weight: 600;
}

canvas {
  border-radius: 8px;
}
